body {
					font: normal Helvetica 20px;
		background: #eee;
}


#wrapper {
				margin: 0 auto;
		  	 width: 800px;
		/*background: #fff;*/
}
#comic {
				margin: 0 auto;
		margin-top: 50px;
				 width: 618px;
		/*background: #fff;*/

}
#comic img {
		box-shadow: 1px 1px 10px #333;
}